services:
  db:
    image: postgres:latest
    restart: always
    user: ${POSTGRES_USER}
    volumes:
      - ./tmp/db:/var/lib/postgresql/data
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PW}
    healthcheck:
      test: ["CMD-SHELL", "pg_isready"]
      interval: 1s
      retries: 10
    ports:
      - "5432:5432"
  pgadmin:
    container_name: pgadmin
    image: dpage/pgadmin4:latest
    environment:
      - PCGDMIN_DEFAULT_EMAIL:${PGADMIN_MAIL}
      - PGADMIN_DAFAULT_PASSWORD:{$POSTGRES_PW}
    ports:
      - "5050:80"
    restart: always
  # web:
  #   build: .
  #   # command: bash -c "rm -f tmp/pids/server.pid && bundle exec bin/rails s -p 3000 -b '0.0.0.0'"
  #   volumes:
  #     - .:/myapp
  #   ports:
  #     - "3000:3000"
  #   depends_on:
  #     db:
  #       condition: service_healthy
